body{
    margin: 0;
    padding: 0;
    background: #000000;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}
.title{
    font-size: 2.5vw;
    color: rgb(253, 255, 118);
}
.nav{
    display:flexbox;
    overflow: hidden;
    height: 46px;
    background: #1c1721;
}
.nav-big {
    float: left;
}
.nav-link{
    font-family: 'Gochi Hand', cursive;
    float: left;
    padding: 14px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background: #ba482e;
}
a:hover.nav-link{
    color: rgb(255, 255, 255);
    background: #d21e1e;
}
.imgs-container{
    display: grid;
    margin-bottom: 10px;
}
.imgs{
    margin: auto;
    height: 38vh;
    border: 2px solid rgb(187, 76, 33);
}

.imgs-title{
    font-family: 'Share Tech', sans-serif;
    margin-top: 0.5vh;
    display: flex;
    color: #858585;
    justify-content: center;
}

/*
Custom fonts import
*/
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

/*
Test code for loading screen anim.
*/
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border-radius: 10px;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
  }
  
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    
    25% {
      transform: rotate(180deg);
    }
    
    50% {
      transform: rotate(180deg);
    }
    
    75% {
      transform: rotate(360deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes loader-inner {
    0% {
      height: 0%;
    }
    
    25% {
      height: 0%;
    }
    
    50% {
      height: 100%;
    }
    
    75% {
      height: 100%;
    }
    
    100% {
      height: 0%;
    }
  }

  /*
  Small/Mobile screens "responsive" media
  */
@media only screen and (max-width: 600px) {
  .imgs{
    margin: auto;
    height: 30vh;
    border: 2px solid rgb(187, 76, 33);
  }
}
