body{
    margin: 0;
    padding: 0;
    background: #000000;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}
.title{
    font-size: 4vw;
    color: rgb(253, 255, 118);
}
.nav{
    display:flexbox;
    overflow: hidden;
    height: 46px;
    background: #1c1721;
}
.nav-big {
    float: left;
}
.nav-link{
    float: left;
    padding: 14px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background: #ba482e;
}
a:hover.nav-link{
    color: rgb(255, 255, 255);
    background: #d21e1e;
}
.imgs-container{
    display: grid;
}
.imgs{
    margin: auto;
    height: 200px;
}
.imgs-title{
    margin-top: 0.5vh;
    display: flex;
    color: #858585;
    justify-content: center;
}