* {
  background-color: rgba(33, 187, 64, .0);
}

:root {
  --text-global: 252, 241, 227;
  --accent-back: 180, 37, 23;
  --dark-back: 95, 26, 37;
}

body{
  width: 100%;

  margin: 0;
  padding: 0;
  background: #000000;
  color: rgb(var(--text-global));

  font-family: 'Times New Roman', Times, serif;
}
hr {
  background: rgb(var(--text-global));
  border: 0;
  height: 2px;
  margin: 0 0 10px 0;
}
.content p {
  font-size: 20px;
}
.wrapper {
  width: 60vw;
}

.left-bar {
  width: 20vw;
  word-wrap: break-word;
}
.left-bar > ul {
  list-style: none;
}
.left-bar > ul > li {
  border: #fff solid 1px;
  border-radius: 6%;
  padding: 10px 8px;
  margin: 5px;
}
.left-bar > ul > .news-li {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 20px;
}
.left-bar > ul > li > .news-label {

  align-self: flex-end;
  padding: 2px 0px;
  width: 25%;

  border-radius: 25%;

  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: 1.2em;
  letter-spacing: 2px;

}

.red-bg {
  border: 2px solid;
  border-color: rgb(255, 34, 34);
  background-color: rgb(161, 0, 0);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  background: rgba(42, 13, 0, 0.184);
}
nav{
  width: 100%;

  display: flex;
  height: 46px;
}
.nav-big {
  float: left;
}
.nav-big img {
  height: 100%;
}
.nav-link{
  display: flex;
  align-items: center;

  padding: 0 14px;

  background: rgb(var(--dark-back),.0);

  color: rgba(var(--text-global),.7);
  font-family: 'Gochi Hand', cursive;
  text-decoration: none;

}
a:hover.nav-link{
  color: rgba(var(--text-global),1);
  
  background: rgba(var(--accent-back),.0);
}
.img-container{
  display: grid;
  justify-content: center;
  margin-bottom: 10px;
}
.img-container img{
  margin: auto;
  
  width: 50vmin;
  height: auto;
  border: 2px solid rgb(187, 76, 33);
}
.img-container p {
  width: 50vmin;
  word-wrap: break-word;
}

.img-title{
  font-family: 'Share Tech', sans-serif;
  margin-top: 0.5vh;
  display: flex;
  color: #858585;
  justify-content: center;
}
footer {
  width: 100%;
  display: flex;
  justify-content: center;

  background-color: #121212;
  
  color: rgba(255, 255, 255, 0.75);
}
footer .wrapper {
  line-height: 15px;
}
footer a {
  color: #8ab4f8;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
/*
Custom fonts import
*/
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');



/*
Small/Mobile screens "responsive" media
*/
@media only screen and (max-width: 600px) {
}
/*
Loading styles
*/
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border-radius: 10px;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
  }
  
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  .loader-text {
    font-family: 'Gochi Hand', cursive;
  }
  
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    
    25% {
      transform: rotate(180deg);
    }
    
    50% {
      transform: rotate(180deg);
    }
    
    75% {
      transform: rotate(360deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes loader-inner {
    0% {
      height: 0%;
    }
    
    25% {
      height: 0%;
    }
    
    50% {
      height: 100%;
    }
    
    75% {
      height: 100%;
    }
    
    100% {
      height: 0%;
    }
  }
/*
Suspensive points
*/
.loader-points {
  padding-left: 10px;
  padding-right: 10px;
}
.loader-line {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: #ffffff;
}
.loader-points .loader-line:nth-last-child(1) {
  animation: loadingC 0.6s 0.1s linear infinite;
}
.loader-points .loader-line:nth-last-child(2) {
  animation: loadingC 0.6s 0.2s linear infinite;
}
.loader-points .loader-line:nth-last-child(3) {
  animation: loadingC 0.6s 0.3s linear infinite;
}

@keyframes loadingC {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.left-bar {
  padding: 10px 10px 0 0;
  margin: 10px 0px 10px 0px;
}